#PaymentForm {
  margin: 0 auto;
  margin-top: -80px;
  width: 80%;
}


.label-float{
  position: relative;
  padding-top: 13px;
  margin-top: 20px;
  color: #C9C9C9;
}
  
.label-float input{
  width: 100%;
  border: 0;
  border-bottom: 2px solid #C9C9C9;
  outline: none;
  font-size: 16px;
  color: black;
  transition: all .3s ease-out;
  -webkit-transition: all .3s ease-out;
  -moz-transition: all .3s ease-out;
  -webkit-appearance:none;
  border-radius: 0;
}

.label-float input:focus{
  border-bottom: 2px solid  #C9C9C9;
}

.label-float input::placeholder{
  color:transparent;
}

.label-float label{
  pointer-events: none;
  position: absolute;
  top: 0;
  left: 0;
  margin-top: 13px;
  transition: all .3s ease-out;
  -webkit-transition: all .3s ease-out;
  -moz-transition: all .3s ease-out;
}

.label-float input:focus:required:invalid{
  border-bottom: 2px solid red;
}

.label-float input:focus + label,
.label-float input:not(:placeholder-shown) + label{
  font-size: 13px;
  margin-top: 0;
}

.flex {
  display: flex;
  width: 100%;
}

form select {
  width: 100%;
  margin: 40px 0;
  border: none;
  border-bottom: 1px solid #C9C9C9;
  font-size: 17px;
  opacity: 1;
  color: #C9C9C9;
}

form select option{
  color: black;
}

select .optionDefault {
  color: #C9C9C9;
}

button {
  background: #DE4B4B 0% 0% no-repeat;
  border-radius: 8px;
  border: none;
  padding: 8px 13px;
  margin: 20px 0;
  width: 100%;
  height: 40px;
  color: #FFFFFF;
}

.err{
  font-size: 13px;
  color: #DE4B4B;
}

.select {
  margin-top: -40px;
}

@media (min-width: 826px) {
  #PaymentForm {
    display: flex;
    background: none;
  }  
}