#PaymentForm {
  margin: 0 auto;
  margin-top: -80px;
  width: 80%;
}


.label-float{
  position: relative;
  padding-top: 13px;
  margin-top: 20px;
  color: #C9C9C9;
}
  
.label-float input{
  width: 100%;
  border: 0;
  border-bottom: 2px solid #C9C9C9;
  outline: none;
  font-size: 16px;
  color: black;
  transition: all .3s ease-out;
  -webkit-transition: all .3s ease-out;
  -moz-transition: all .3s ease-out;
  -webkit-appearance:none;
  border-radius: 0;
}

.label-float input:focus{
  border-bottom: 2px solid  #C9C9C9;
}

.label-float input::placeholder{
  color:transparent;
}

.label-float label{
  pointer-events: none;
  position: absolute;
  top: 0;
  left: 0;
  margin-top: 13px;
  transition: all .3s ease-out;
  -webkit-transition: all .3s ease-out;
  -moz-transition: all .3s ease-out;
}

.label-float input:focus + label,
.label-float input:not(:placeholder-shown) + label{
  font-size: 13px;
  margin-top: 0;
}

.flex {
  display: flex;
  width: 100%;
}

.flex .label-float {
  width: 100%;
}

.test {
  margin-left: 30px;
  margin-right: 0;
}

form select {
  width: 100%;
  margin: 40px 0;
  border: none;
  border-bottom: 1px solid #C9C9C9;
  font-size: 17px;
  opacity: 1;
  -webkit-appearance: none;
  -moz-appearance:    none;
  appearance: none;
  /* color: #C9C9C9; */
}

form select .optionDefault {
  color: #C9C9C9;
}

.arrow {    
  overflow:hidden; 
} 

.arrow select {     
 background: url('../assets/arrow.png') no-repeat;    
 background-position: 100% center;            
 text-indent: 0.01px; /* Remove seta padrão do FireFox */      
 text-overflow: "";  /* Remove seta padrão do FireFox */            
}

select::-ms-expand {display: none;} /* Remove seta padrão do IE*/

button {
  background: #DE4B4B 0% 0% no-repeat;
  border-radius: 8px;
  border: none;
  padding: 8px 13px;
  margin: 20px 0;
  width: 100%;
  height: 40px;
  color: #FFFFFF;
}

.err{
  margin-top: -2px;
  font-size: 13px;
  color: #DE4B4B;
}

.select {
  margin-top: -40px;
}

@media (min-width: 826px) {
  #PaymentForm {
    display: flex;
    margin: 0 0;
    width: 90%;
  }  

  form{
    width: 40%;
    margin-top: 20px;
    margin-left: 100px;
  }

  form input {
    margin: 5px;
  }

  .rccs__card--unknown, .rccs__card--unionpay, .rccs__card--visa, .rccs__card--mastercard, .rccs__card--hipercard, .rccs__card--discover, .rccs__card--elo, .rccs__card--jcb, .rccs__card--laser, .rccs__card--maestro, .rccs__card--dinersclub, .rccs__card--dankort, .rccs__card--amex, .rccs__card--visaelectron {
    height: 200px;
    width: 320px;
    margin-left: 20%;
  }
  
  .rccs__card--front, .rccs__card--flipped {
    margin-top: 100px;
  }

  button {
    width: 60%;
    float: right;
  }

}

@media (min-width: 1101px) {
  .rccs__card--front, .rccs__card--flipped {
    margin-left: 10%;
  }
}