.header {
  background: #DE4B4B 0% 0% no-repeat;
  width: 100%;
  height: 25vh;
  font-family: "Verdana";
  color: #FFFFFF;
  text-align: center;
  padding: 40px 0;
}

.etapa {
  margin-top: -8px;
}

.etapa a {
  text-decoration: none;
  color: #FFFFFF;
  margin-left: 70px;
  width: 12px;
  height: 21px;   
}

.etapa p {
  display: inline;
  margin-right: 0;
  padding: 0 0 0 70px  ;
  font-size: 13px;
}

.etapa .big {
  visibility:hidden;
}

.titulo {
  display: flex;
  padding: 10px;
  margin: 8px 50px 50px 70px;
}

.titulo p {
  text-align: left;
  font-size: 16px;
  font-weight: bold;
  letter-spacing: -0.01px;
  margin: 0;
  padding: 0;
  width: 180px;
}

.titulo img {
  margin-right: 10px;
}

.card {
  margin-top: -2.5rem;
  margin-left: 1rem;
}

.card img {
  position: relative;
  border-radius: 5%;
  box-shadow: 0 5px 10px gray;
}

.card p {
  position: absolute;
  text-align: left;
  font-style: SF Pro;
  letter-spacing: 0px;
  color: #FFFFFF;
  text-shadow: 0px 1px 2px #000000B3;
  opacity: 1;
}

.codeCartao {
  margin-top: -100px;
  margin-left: 60px;
  font-size: 19px;
}

.nameCartao, .validCartao{
  margin-top: -50px;
  margin-left: 60px;
  font-size: 12px;
}

.validCartao {
  margin-left: 260px;
}

/* medias */

@media (min-width: 768px) {
  .header {
    width: 45vw;
    height: 100vh;
  }

  .etapa {
    margin-top: 20px;
  }

  .etapa p {
    margin-right: 0;
    padding: 15px;
  }

  .etapa .mobile {
    display: none;
  }
  
  .etapa .big {
    visibility: visible;
  }

  .titulo {
    padding: 8px;
    margin: 60px 5px 0 40px;
  }

  .titulo p {
    font-size: 20px;
    width: auto;
  }

  .titulo img {
    width: 150px;
    height: 50px;
    margin-right: 0;
  }

  .card {
    margin-top: 60px;
  }

  .card img{
    width: 365px;
    height: 224px;
    margin-left: 60px;
  }

  .card p {
    letter-spacing: -0.12px;
    color: #FFFFFF;
    text-shadow: 0px 1px 2px #000000B3;
    opacity: 1;
  }

  .codeCartao {
    margin-top: -8rem;
    font-size: 24px;
    margin-left: 6rem;
  }

  .nameCartao, .validCartao{
    margin-top: -4rem;
    font-size: 16px;
  }

  .nameCartao{
    margin-left: 6rem;
  }

  .validCartao {
    margin-left: 22rem;
  }

}